--USE [EMR]
GO
DROP USER [merkuser]
GO
CREATE USER [merkuser] FOR LOGIN [merkuser] WITH DEFAULT_SCHEMA=[dbo]
GRANT ALTER TO [merkuser]
GRANT ALTER ANY APPLICATION ROLE TO [merkuser]
GRANT ALTER ANY ASSEMBLY TO [merkuser]
GRANT ALTER ANY ASYMMETRIC KEY TO [merkuser]
GRANT ALTER ANY CERTIFICATE TO [merkuser]
GRANT ALTER ANY CONTRACT TO [merkuser]
GRANT ALTER ANY DATABASE AUDIT TO [merkuser]
GRANT ALTER ANY DATABASE DDL TRIGGER TO [merkuser]
GRANT ALTER ANY DATABASE EVENT NOTIFICATION TO [merkuser]
GRANT ALTER ANY DATASPACE TO [merkuser]
GRANT ALTER ANY FULLTEXT CATALOG TO [merkuser]
GRANT ALTER ANY MESSAGE TYPE TO [merkuser]
GRANT ALTER ANY REMOTE SERVICE BINDING TO [merkuser]
GRANT ALTER ANY ROLE TO [merkuser]
GRANT ALTER ANY ROUTE TO [merkuser]
GRANT ALTER ANY SCHEMA TO [merkuser]
GRANT ALTER ANY SERVICE TO [merkuser]
GRANT ALTER ANY SYMMETRIC KEY TO [merkuser]
GRANT ALTER ANY USER TO [merkuser]
GRANT AUTHENTICATE TO [merkuser]
GRANT BACKUP DATABASE TO [merkuser]
GRANT BACKUP LOG TO [merkuser]
GRANT CHECKPOINT TO [merkuser]
GRANT CONNECT TO [merkuser]
GRANT CONNECT REPLICATION TO [merkuser]
GRANT CONTROL TO [merkuser]
GRANT CREATE AGGREGATE TO [merkuser]
GRANT CREATE ASSEMBLY TO [merkuser]
GRANT CREATE ASYMMETRIC KEY TO [merkuser]
GRANT CREATE CERTIFICATE TO [merkuser]
GRANT CREATE CONTRACT TO [merkuser]
GRANT CREATE DATABASE DDL EVENT NOTIFICATION TO [merkuser]
GRANT CREATE DEFAULT TO [merkuser]
GRANT CREATE FULLTEXT CATALOG TO [merkuser]
GRANT CREATE FUNCTION TO [merkuser]
GRANT CREATE MESSAGE TYPE TO [merkuser]
GRANT CREATE PROCEDURE TO [merkuser]
GRANT CREATE QUEUE TO [merkuser]
GRANT CREATE REMOTE SERVICE BINDING TO [merkuser]
GRANT CREATE ROLE TO [merkuser]
GRANT CREATE ROUTE TO [merkuser]
GRANT CREATE RULE TO [merkuser]
GRANT CREATE SCHEMA TO [merkuser]
GRANT CREATE SERVICE TO [merkuser]
GRANT CREATE SYMMETRIC KEY TO [merkuser]
GRANT CREATE SYNONYM TO [merkuser]
GRANT CREATE TABLE TO [merkuser]
GRANT CREATE TYPE TO [merkuser]
GRANT CREATE VIEW TO [merkuser]
GRANT CREATE XML SCHEMA COLLECTION TO [merkuser]
GRANT DELETE TO [merkuser]
GRANT EXECUTE TO [merkuser]
GRANT INSERT TO [merkuser]
GRANT REFERENCES TO [merkuser]
GRANT SELECT TO [merkuser]
GRANT SHOWPLAN TO [merkuser]
GRANT SUBSCRIBE QUERY NOTIFICATIONS TO [merkuser]
GRANT TAKE OWNERSHIP TO [merkuser]
GRANT UPDATE TO [merkuser]
GRANT VIEW DATABASE STATE TO [merkuser]
GRANT VIEW DEFINITION TO [merkuser]
GO
