USE [master]
GO
/****** Object:  Database [MerkAuditing]    Script Date: 04-Jul-18 23:03:19 ******/
CREATE DATABASE [MerkAuditing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MerkAuditing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.RAYADLAPSQLSRV\MSSQL\DATA\MerkAuditing.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MerkAuditing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.RAYADLAPSQLSRV\MSSQL\DATA\MerkAuditing_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MerkAuditing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MerkAuditing]
GO
/****** Object:  Table [dbo].[LogAuditing]    Script Date: 04-Jul-18 23:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogAuditing](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CommonTransactionType_P_ID] [int] NOT NULL,
	[User_CU_ID] [int] NULL,
	[Date] [datetime] NOT NULL,
	[EntityName] [nvarchar](300) NOT NULL,
	[CurrentValues] [varchar](5000) NOT NULL,
	[OriginalValues] [varchar](5000) NULL,
 CONSTRAINT [PK_LogAuditing] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
